ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #284177;
    opacity: 0.8;
}

li {
    float: left;
}

li a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: block;
    color: #83CEEC;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #006BBD;
}