#map {
    height: 100%;
    width: 100%;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #83CEEC;
}
.open-btn {
    display: flex;
    justify-content: left;
}
.login-popup {
    position: center;
    text-align: center;
    width: 100%;
    border-radius: 70px 70px 70px 70px;
}
.form-popup {
    display: none;
    position: fixed;
    left: 50%;
    top:5%;
    transform: translate(-50%,5%);
    z-index: 9;
    border-radius: 70px 70px 70px 70px;
}
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 70px 70px 70px 70px;
}
.form-container input[type=text], .form-container input[type=password],
.form-container input[type=datetime-local] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #eee;
    border-radius: 70px 70px 70px 70px;
}
.form-container input[type=text]:focus, .form-container input[type=password]:focus,
.form-container input[type=datetime-local]:focus {
    background-color: #ddd;
    outline: none;
    border-radius: 70px 70px 70px 70px;
}
.form-container .btn {
    background-color: #0017bf;
    color: #fff;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    border-radius: 70px 70px 70px 70px;
}
.form-container .cancel {
    background-color: #cc0016;
    border-radius: 70px 70px 70px 70px;
}
.form-container .btn:hover{
    opacity: 1;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    margin-left: 20%;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}