body {
    background: #83CEEC;
    /*font-weight: 400;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #284177;
}
table {
    border-spacing: 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    border-radius: 70px 70px 70px 70px;
    width: 100%;
}
th {
    padding: 10px 20px;
    background: #284177;
    color: #83CEEC;
    border-right: 2px solid;
    font-size: 0.9em;
}
td {
    vertical-align: middle;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #284177;
    border-bottom: 2px solid #284177;
    border-right: 2px solid #284177;
    border-left: 2px solid #284177;
}
.left {
    border-radius: 60px 0px 0px 0px;
}
.right {
    border-radius: 0px 60px 0px 0px;
}
.allTable .btn {
    background-color: #284177;
    color: #83CEEC;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.95;
    border-radius: 70px 70px 70px 70px;
}
.allTable .btn:hover{
    opacity: 1;
}
.heading{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #284177;
    width: 100%;
}
.namingOfPage{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: #284177;
}
button.primary {
    background-color: #284177;
    color: #83CEEC;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.95;
    border-radius: 70px 70px 70px 70px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
button:hover{
    opacity: 1;
}