<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <script type="text/javascript" th:src="@{/js/checkPasswordField.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/changePassword.css}"/>
</head>
<body>
<th:block th:include="/menu">...</th:block>
<form  th:action="@{/changePassword}"  th:object="${registrationForm}" onsubmit="checkPassword()" class="password-container" method="POST">
    <div class="formName">Change password</div>
    <br>
    <table>
        <tr>
            <td>
                <label for="pass" class="nameLabel">
                    Enter new password
                </label>
                <input type="password" th:field="*{password}" id="pass" required/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn" value="Change"/>
                <input type="reset" class="btn" value="Clear">
            </td>
        </tr>
    </table>
</form>
<span th:if="${success != null}" th:utext="${success}"/>
<span th:if="${error != null}" th:utext="${error}"/>
</body>

</html>