<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <style>
        body {
            background: #83CEEC;
        }
    </style>
</head>
<body>
<th:block th:include="/menu">...</th:block>
<div th:if="${userInfo != null}">

    <span th:utext="${#request.userPrincipal.name}">...</span>

    <h2>Change avatar</h2>
    <form  th:multiple = "true" th:action="@{/setAvatar}"  th:object="${registrationForm}" enctype="multipart/form-data" method="POST">
        <table>
            <tr>
                <td>You name is:  </td>
                <td><input type="hidden" th:utext="${#request.userPrincipal.name}"
                           th:name="name" th:value="*{#request.userPrincipal.name}"/></td>
            </tr>
            <tr>
                <td>New avatar: </td>
                <td><input type="file" th:field="*{avatar}" id="avatar"  alt="dsd"/></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Не нажимать!"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>

</html>