<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div id="listOfParticipants-container">
    <div class="listOfParticipants-header">
        <h3><span id="listOfParticipantsNames">
            Participants
        </span></h3>
    </div>

    <hr/>
    <ul id="participantArea" class="participantAreaClass">
        <li th:each="participants : ${participants}">
            <span id="nameOfParticipant" class="nameOfParticipant" th:utext="${participants.chatParticipant}">...</span>
            <img th:src="@{${participants.userAvatar}}" alt="No image" class="images"/>
        </li>
    </ul>
</div>

<div id="chat-container">
    <div class="chat-header">
        <div class="user-container">
            <span id="username" th:utext="${username}">...</span>
            <form th:action="@{/userInfo}">
                <button type="submit" class="primary">Return to your personal account</button>
            </form>
        </div>
        <h3><span id="chatName" th:utext="${chatName}">...</span></h3>
        <span id="chatId" th:utext="${chatId}">...</span>
    </div>

    <hr/>

    <div id="connecting">Connecting...</div>

    <ul id="messageArea">
        <li th:each="infoAboutOldMessages : ${infoAboutOldMessages}">
            <strong><span id="nickname" th:utext="${infoAboutOldMessages.sender}">..</span></strong>
            <i><span id="currentDateOld" th:utext="${infoAboutOldMessages.currentDate}">..</span></i>
            <span th:utext="${infoAboutOldMessages.content}">..</span>
            <span th:utext="${usersInOnlineList}">...</span>
        </li>
    </ul>

    <form id="messageForm" name="messageForm">
        <div class="input-message">
            <input type="text" id="message" autocomplete="off"
                   placeholder=" Type a message..."/>
            <button type="submit" class="default">Send message</button>
        </div>
    </form>
</div>

<script type="text/javascript" th:src="@{/js/chat.js}"></script>

</body>
</html>