<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>

    <style>
        th, td {
            padding: 5px;
        }
        body {
            background: #83CEEC;
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/menu">...</th:block>

<h2>All events</h2>

<table border="1">
    <tr>
        <th>Name of event</th>
        <th>Time of event</th>
        <th>Name of creator</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    <tr th:each="allEvents : ${allEvents}">
        <td th:utext="${allEvents.nameOfEvent}">..</td>
        <td th:utext="${allEvents.date}">..</td>
        <td th:utext="${allEvents.nameOfEventCreator}">..</td>
        <td th:utext="${allEvents.descriptionOfEvent}">..</td>
        <td th:utext="${allEvents.latitude}">..</td>
        <td th:utext="${allEvents.longitude}">..</td>
    </tr>

</table>
</body>
</html>
