<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> <title>Forgot Password</title> </head>
<body>
    <form th:action="@{/forgot}" th:object="${form}" method="post">
        <label for="Email">Please, enter email</label>
        <input type="text" id="Email" placeholder="Email" th:name="email" />
        <input type="submit" value="Reset password">
    </form>

    <span th:if="${errorMessage} != null" th:utext="${errorMessage}">...</span>
    <span th:if="${successMessage} != null" th:utext="${successMessage}">...</span>
</body>
</html>