<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationPage.css}"/>
</head>
<body>
<th:block th:include="/menu">...</th:block>

<form th:action="@{/forgot}" th:object="${form}" method="POST" class="registration-container">
    <div class="formName">Reset password</div>
    <br>
    <table>
        <tr>
            <td>
                <label for="Email" class="nameLabel">
                    Enter you email
                </label>
                <input type="text" id="Email" placeholder="Email" th:name="email" />
                <span th:if="${errorMessage} != null" th:utext="${errorMessage}">...</span>
                <span th:if="${successMessage} != null" th:utext="${successMessage}">...</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn" value="Reset password" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>