<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}"/>
</head>
<body>
<th:block th:include="/menu">...</th:block>

<form name='f' th:action="@{/j_spring_security_check}" method='POST' class="login-container">
    <div class="formName">Login</div>
    <table>
        <tr>
            <td>
                <label for="Nickname" class="nameLabel">
                    Enter you name
                </label>
                <input type='text' id="Nickname" placeholder="Name" name='username' value=''>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Password" class="nameLabel">
                    Password
                </label>
                <input type='password' id="Password" placeholder="Password" name='password' />
                <span th:if="${#request.getParameter('error') == 'true'}" class="error">
                    Invalid name or password
                </span>
            </td>
        </tr>
        <tr>
            <td><input name="submit" class="btn" type="submit" value="Login" /></td>
        </tr>
    </table>
</form>

</body>

</html>