<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
</head>
<body>

<ul th:if="${#request.userPrincipal == null}">
    <li><a class="active" th:href="@{/welcome}">Welcome</a></li>
    <li><a th:href="@{/createUser}">Registration</a></li>
    <li><a th:href="@{/login}">Login</a></li>
</ul>
<ul th:if="${#request.userPrincipal != null}">
    <li><a th:href="@{/userInfo}">My home page</a></li>
    <li><a th:href="@{/createEvent}">Map</a></li>
    <li><a  th:href="@{/logout}">Logout</a></li>
    <li><a th:if="${#request.isUserInRole('ROLE_ADMIN')}"  th:href="@{/admin}">Admin page</a></li>
</ul>

</body>
</html>