<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/myGoogleMap.css}"/>
</head>
<body>
<th:block th:include="/menu">..</th:block>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">

<div style="padding:0">
    <div id="map"></div>
</div>

<script type="text/javascript" th:src="@{/js/mapInitialization.js}"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfOlryc_A5QyGcHyOSE54lO6PVQVd1P0U&libraries=places&callback=initMap"
        async defer></script>

<div class="login-popup">
    <div class="form-popup" id="popupForm">
        <form th:action="@{/createEvent}" th:object="${eventModel}" method="POST" class="form-container">
            <h2>Please enter the name and description of event</h2>

            <input type="hidden" placeholder="latitude" th:field="*{latitude}" id="lat" readonly/>

            <input type="hidden" placeholder="longitude" th:field="*{longitude}" id="lng" readonly/>

            <table>
                <tr>
                    <td>
                        <label for="nameOfEvent">
                            <strong>Name of event</strong>
                        </label>
                        <input type="text" id="nameOfEvent" placeholder="Name of event" th:field="*{nameOfEvent}" th:name="nameOfEvent"
                               onKeyUp="document.getElementById('chatName').value = this.value;" maxlength="76"  required>
                        <span th:if="${#fields.hasErrors('nameOfEvent')}" th:errors="*{nameOfEvent}">...</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="descriptionOfEvent">
                            <strong>Description of event</strong>
                        </label>
                        <input type="text" id="descriptionOfEvent" placeholder="Description of event" name="descriptionOfEvent" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="datetime">
                            <strong>Date and time of event</strong>
                        </label>
                        <input type="datetime-local" id="datetime" placeholder="Date and time" th:name="date" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="btn">Create event</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </td>
                </tr>
            </table>
            <input type="hidden" id="chatName" th:object="${chatModel}" th:field="*{chatName}" readonly>

        </form>
    </div>
</div>

<div class="login-popup">
    <div class="form-popup" id="popupFormForOldMarkers">
        <form th:action="@{/joinToEvent}" method="POST" class="form-container">
            <h2>Do you want to join at this event?</h2>
            <input type="hidden" th:object="${eventModel}" id="thisEventId" th:field="*{id}" readonly>
            <button type="submit" class="btn">Join to event</button>
            <button type="button" class="btn cancel" onclick="closeOldForm()">Cancel</button>
        </form>
    </div>
</div>

<div th:if="${errorOfJoin}" th:utext="${errorOfJoin}"></div>

<div id="allMarkers" hidden>
<table>
    <tr th:each="eventName : ${eventName}">
        <td  th:utext="${eventName}" class="names">..</td>
    </tr>
    <tr th:each="eventLat : ${eventLat}">
        <td  th:utext="${eventLat}" class="latitudes">..</td>
    </tr>
    <tr th:each="eventLng : ${eventLng}">
        <td th:utext="${eventLng}" class="longitudes">..</td>
    </tr>
    <tr th:each="eventDescript : ${eventDescript}">
        <td th:utext="${eventDescript}"  class="descript">..</td>
    </tr>
    <tr th:each="eventDate : ${eventDate}">
        <td th:utext="${eventDate}"  class="eventDates">..</td>
    </tr>
    <tr th:each="eventNameOfCreator : ${eventNameOfCreator}">
        <td th:utext="${eventNameOfCreator}" class="eventNamesOfCreator">..</td>
    </tr>
    <tr th:each="dateOfCreation : ${dateOfCreation}">
        <td th:utext="${dateOfCreation}" class="eventDatesOfCreation">..</td>
    </tr>
    <tr th:each="eventId : ${eventId}">
        <td th:utext="${eventId}" class="eventAllId">..</td>
    </tr>

</table>
</div>

<script type="text/javascript" th:src="@{/js/openFormForEvent.js}"></script>

    </body>
</html>
