<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Registration </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationPage.css}"/>
</head>
<body>
<th:block th:include="/menu">...</th:block>

<div th:if="${errorMessage != null}"
     th:utext="${errorMessage}" class="error">...</div>

<form th:action="@{/createUser}" th:object="${registrationForm}" method="POST" class="registration-container">
    <div class="formName">Registration</div>
    <br>
    <table>
        <tr>
            <td>
                <label for="Nickname" class="nameLabel">
                    Enter you name
                </label>
                <input type="text" id="Nickname" placeholder="Nickname" th:field="*{name}" minlength="6"/>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">...</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Email" class="nameLabel">
                    Enter email
                </label>
                <input type="text" id="Email" placeholder="Email" th:field="*{email}" />
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">...</span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="Password" class="nameLabel">
                    Enter password
                </label>
                <input type="password" id="Password" placeholder="Password" th:field="*{password}" minlength="8"/>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">...</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn" value="Register" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>