<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successfully registered</title>
    <style>
        span {color: blue;}
    </style>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/menu"></th:block>

<h2>You have successfully registered!</h2>

<div th:if="${ #request.userPrincipal.name != null}">
    <ul>
        <li>User Name: <span th:utext="${flashUser.name}">..</span></li>
        <li>Email: <span th:utext="${flashUser.email}">..</span></li>
    </ul>
</div>


</body>
</html>