<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All User</title>

    <style>
        th, td {
            padding: 5px;
        }
        body {
            background: #83CEEC;
        }
    </style>

</head>

<body>
<th:block th:include="/menu">...</th:block>

<h2>Accounts</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Password</th>
        <th>Email</th>
    </tr>
    <tr th:each="listOfUser : ${listOfUser}">
        <td th:utext="${listOfUser.name}">..</td>
         <td th:utext="${listOfUser.password}">..</td>
        <td th:utext="${listOfUser.email}">..</td>
    </tr>

</table>
</body>
</html>
