<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head> <title>Reset password</title> </head>
<body>

<form th:action="@{/reset}" th:object="${form}" method="post">
    <label for="password">Please, enter new password</label>
    <input type="hidden" th:name="resetToken" th:value="${resetToken}">
    <input type="text" id="password" placeholder="New password" th:field="*{password}" required/>
    <input type="submit" value="Reset password">
</form>

<span th:if="${errorMessage} != null" th:utext="${errorMessage}">...</span>
</body>
</html>