<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationPage.css}"/>
</head>
<body>

<form th:action="@{/reset}" th:object="${form}" method="POST" class="registration-container">
    <div class="formName">Reset password</div>
    <br>
    <table>
        <tr>
            <td>
                <div th:if="username != null">
                    Hello, <span th:utext="${username}">...</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label for="password" class="nameLabel">
                    Please, enter new password
                </label>
                <input type="hidden" th:name="resetToken" th:value="${resetToken}">
                <input type="password" id="password" placeholder="New password" th:name="password" required/>
                <span th:if="${errorMessage} != null" th:utext="${errorMessage}">...</span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" class="btn" value="Reset password" />
            </td>
        </tr>
    </table>
</form>

</body>
</html>