<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Upload One File</title>
    <style>
        body {
            background: #83CEEC;
        }
    </style>
</head>

<body>
<th:block th:include="/menu">...</th:block>

<div th:if="${avatarExists != null}">
    <img th:src="@{${avatarExists}}" alt="No image"/>
</div>



<h3>Upload One File:</h3>

<form th:object="${myUploadForm}" method="POST"
      action="" enctype="multipart/form-data">
    <br/><br/>
    File to upload: <input th:field="*{avatar}" type="file"/>
    <br />
    <input type="submit" value="Upload">
</form>

</body>
</html>