<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}">...</title>
    <style>
        body {
            background: #83CEEC;
        }
        .formName{
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            width: 100%;
            text-align: center;
            font-weight: 900;
            color: #284177;
            position: fixed; top: 50%; 
        }
    </style>
</head>

<body>

<th:block th:include="/menu">..</th:block>

<span class="formName" th:utext="${message}">...</span>

</body>
</html>