<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}">...</title>
    <style>
        body {
            background: #c7b39b;
        }
    </style>
    <!--<style th:src="@{static/Welcome.css}" rel ="stylesheet"/>-->
    <!--<script type="text/javascript" th:src="@{/static/alerta.js}"></script>-->
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Message : <span th:utext="${message}"></span></h2>

</body>
</html>