<div xmlns:th="http://www.thymeleaf.org"
     style="border: 1px solid #ccc;padding:5px;margin-bottom:20px;">
    <span th:if="${#request.userPrincipal == null}">

    <a th:href="@{/welcome}">Welcome page</a>

    &nbsp;

    <a th:href="@{/createUser}">Registration</a>

    &nbsp;

    <a th:href="@{/login}">Login</a>

    &nbsp;

    </span>
    <span th:if="${#request.userPrincipal != null}">
    <a th:href="@{/userInfo}">My home page</a>

    &nbsp;

    <a th:href="@{/createEvent}">Map</a>

    &nbsp;

    <a  th:href="@{/logout}">Logout</a>

    &nbsp;

    <a th:if="${#request.isUserInRole('ROLE_ADMIN')}"  th:href="@{/admin}">Admin page</a>
    </span>

</div>