<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change password</title>
    <script type="text/javascript">
        function checkPassword() {
            var fPassword = document.getElementById("pass").value;

            if (fPassword == 0){
                alert("Enter password!");
                return false;
            }
            if (fPassword != 0){
                alert("Password was changed: "+fPassword);
                return true;
            }
        }
    </script>
    <style>
        body {
            background: #c7b39b url(images/mapPicture.png);
        }
    </style>
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div th:if="${userInfo != null}">
<h2>Change password</h2>
<form  th:action="@{/changePassword}"  th:object="${registrationForm}" onsubmit="checkPassword()" method="POST">
    <table>
        <tr>
            <td>You name is:  </td>
            <td><input type="hidden" th:utext="${#request.userPrincipal.name}"
                       th:name="name" th:value="*{#request.userPrincipal.name}"/></td>
        </tr>
        <tr>
            <td>New password: </td>
            <td><input type="text" th:field="*{password}" id="pass" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Change"/>
                <input type="reset" value="Clear">
            </td>
        </tr>
    </table>

</form>

</div>
</body>

</html>