<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>

    <style>
        th, td {
            padding: 5px;
        }
        body {
            background: #c7b39b url(images/mapPicture.png);
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Accounts</h2>

<table border="1">
    <tr>
        <th>Date</th>
        <th>Name</th>
        <th>CreatorName</th>
        <th>Description</th>
        <th>Latitude</th>
        <th>Longitude</th>
    </tr>
    <tr th:each="eventInfo : ${eventInfo}">
        <td th:utext="${eventInfo.eventDateOfCreation}">..</td>
        <td th:utext="${eventInfo.nameOfEvent}">..</td>
        <td th:utext="${eventInfo.nameOfEventCreator}">..</td>
        <td th:utext="${eventInfo.eventDescription}">..</td>
        <td th:utext="${eventInfo.eventLatitude}">..</td>
        <td th:utext="${eventInfo.eventLongitude}">..</td>
    </tr>

</table>
</body>
</html>
