<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Events</title>

    <style>
        th, td {
            padding: 5px;
        }
        body {
            background: #c7b39b url(images/mapPicture.png);
        }
    </style>

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Events</h2>

<table border="1">
    <tr>
        <th>Name</th>
        <th>Lat</th>
        <th>Lng</th>
        <th>Description</th>
    </tr>
    <tr th:each="oldMarkers : ${oldMarkers}">
        <td th:utext="${oldMarkers.nameOfEvent}">..</td>
        <td th:utext="${oldMarkers.eventLatitude}">..</td>
        <td th:utext="${oldMarkers.eventLongitude}">..</td>
        <td th:utext="${oldMarkers.eventDescription}">..</td>
    </tr>

</table>
</body>
</html>
